// ----------------------------------------------------------------------------
// App
// ----------------------------------------------------------------------------

$transition: 0.25s;
$ratio: 1.618;
$padding: 16px;
$frame-bar-height: 24px;

// ----------------------------------------------------------------------------
// App Colors
// ----------------------------------------------------------------------------

$light-on-primary: rgba(255, 255, 255, 0.75);
$light-on-dark:    rgba(255, 255, 255, 0.2);
$light-on-light:   rgba(22, 22, 22, 0.1);

$star3: #72a9fc;
$star4: #b385f8;
$star5: #f29e40;

// ----------------------------------------------------------------------------
// Quasar
// ----------------------------------------------------------------------------

$dark      : #1B1B26;
$dark-page : #2C2B36;

$dark-1    : #222;
$dark-2    : lighten($dark, 5%);
$dark-3    : lighten($dark, 10%);

$primary   : $star5;
$secondary : lighten($primary, 20%);
$accent    : darken($primary, 10%);

$positive  : #039725;
$negative  : #ff3737;
$info      : #02849e;
$warning   : #e6671d;
